* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
}

body {
  background-color: rgb(247, 247, 247);
}

#header {
  width: 100%;
  background: linear-gradient(to right, #4cb4e7, #8e68ff, #c28aff);
}

#header-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 170px;
}

#logo-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#buscar-cep {
  color: gray;
  border: none;
  padding: 15px 40px;
  text-align: center;
  background-color: white;
  border-radius: 10px;
  border: 1px solid transparent;
  transition: 0.5s;
  cursor: pointer;
}

#buscar-cep:hover {
  border: 1px solid rgba(0, 0, 0, 0.74);
}

#busca {
  outline: none;
  color: gray;
  width: 50%;
  padding: 15px;
  border-radius: 10px;
  border: none;
  transition: 0.45s;
  font-size: 1.05rem;
  transition: 0.5s ease;
  border: 1px solid transparent;
}

#busca:hover {
  border: 1px solid rgba(0, 0, 0, 0.74);
}

.header-actions {
  display: flex;
  gap: 15px;
}

#header-logo {
  position: relative;
  width: 250px;
}

.header-actions-item {
  display: flex;
  align-items: center;
  gap: 8px;
}

.header-actions-item img {
  width: 40px;
}

.header-actions-item a {
  color: black;
}

.header-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-ul {
  display: flex;
  align-items: center;
  gap: 37px;
}

.header-ul-item {
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.123);
  color: white;
  margin-bottom: 10px;
  list-style: none;
  border: 1.7px solid transparent;
  padding: 10px;
  transition: 0.2s;
  cursor: pointer;
  border-radius: 5px;
}

.header-ul-item:hover {
  border: 1.7px solid white;
}

/* MAIN */

#main {
  background-color: rgb(247, 247, 247);
  margin: 0 auto;
  width: 75%;
}

.carousel {
  width: 95%;
  height: 100%;
  margin: 30px auto;
  position: relative;
}

.carousel img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.arrow-right {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  transition: 0.45s;
}

.arrow-right:hover {
  color: white;
  background-color: black;
}

.arrow-left {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  transition: 0.45s;
}

.arrow-left:hover {
  color: white;
  background-color: black;
}

.carousel-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  animation: fade 1s ease;
}

@keyframes fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.products-alta {
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 25px;
}

.card-alta {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid rgba(34, 34, 34, 0.212);
  border-radius: 10px;
  width: 100%;
  height: 430px;
  cursor: pointer;
  transition: 0.3s ease;
}

.card-alta:hover {
  background-color: rgb(22, 22, 22);
  transform: translateY(-8px);
}

.card-alta:active {
  background-color: rgb(31, 31, 31);
}

.card-alta h1 {
  color: white;
  font-size: 25px;
  text-align: center;
  margin-top: 35px;
}

.card-alta p {
  font-size: 15px;
  color: rgb(182, 182, 182);
}

p.card-price {
  font-weight: bolder;
  font-size: 25px;
  color: white;
}

.card-alta p,
p.card-price {
  margin: 15px 0 0 30px;
  width: 100%;
}

.card-alta img {
  margin-top: 35px;
  width: 200px;
  height: 165px;
  transition: 0.4s ease;
}

.card-alta img:hover {
  transform: scale(1.06);
}

/* BENEFICIOS */

.beneficios-content {
  margin-top: 40px;
  padding: 25px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.beneficios-content h1 {
  font-weight: bolder;
  font-size: 2.5rem;
}

.beneficios-content span {
  color: #000099;
}

.beneficios-content p {
  color: rgb(75, 75, 75);
  font-size: 1.08rem;
  margin-top: 25px;
}

.beneficios {
  margin-top: 50px;
  display: flex;
  width: 98%;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.cards-b {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.096);
  background-color: white;
  border-radius: 10px;
  width: 100%;
  height: 400px;
  transition: 0.4s;
  cursor: pointer;
  border-bottom: 3px solid #0000c7;
}

.cards-b h2 {
  font-weight: bolder;
  font-size: 1.6rem;
}

.cards-b p {
  text-align: center;
}

.cards-b:hover {
  transform: translateY(-10px);
}

.cards-b:hover .arrow {
  transform: translateX(8px);
}

.arrow {
  color: #0000ff;
  font-size: 25px;
  top: 300px;
  position: absolute;
  transition: transform 0.35s ease;
}

/* CATEGORIA */

.categoria-content {
  width: 95%;
  margin: 80px auto;
}

.categoria-content h2 {
  margin-bottom: 30px;
  font-size: 2rem;
}

.categoria {
  width: 100%;
  gap: 10px;
}

.card-categoria {
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 350px;
  background-color: rgb(22, 22, 22);
  border-bottom: 1px solid #0000ff;
  border-top: 1px solid rgb(0, 119, 255);
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.24);
  color: white;
  border-radius: 10px;
  transition: 0.4s;
  cursor: pointer;
}

.card-categoria:hover {
  background-color: rgb(36, 36, 36);
  transform: translateY(-10px);
}

.card-categoria:active {
  background-color: rgb(46, 46, 46);
}

.card-categoria img {
  position: absolute;
  width: 250px;
  bottom: 150px;
  transition: 0.35s ease;
}

.card-categoria img:hover {
  transform: scale(1.05);
}

.card-categoria p {
  font-size: 18px;
  font-weight: bolder;
  margin-top: 100px;
}

.categoria,
.card-categoria {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-categoria .arrow {
  border-radius: 50%;
  position: relative;
  top: 50px;
  border: 1px solid #0000ff;
  padding: 10px 14px;
  color: rgb(0, 41, 226);
  transition: 0.35s ease;
}

.card-categoria:hover .arrow {
  transform: translateX(5px);
  background-color: #0000ff;
  color: white;
}
